@import '~bulma/sass/utilities/_all';
$primary: #0078dd;
$info: #366BCE;
$warning: #f37024;
$danger: #F15E60;
$success: #2EA58D;
$loading-background: linear-gradient(180deg, rgba(0, 120, 221,1) 0.4665725024292584%,rgba(86, 152, 227,1) 79.66998579152786%);

$colors: (
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $warning-invert),
    "success": ($success, $success-invert)
);
@import '~bulma';
@import '~buefy/src/scss/buefy';

@font-face {
    font-family: 'LightNovel';
    src: url('../font/LightNovelPop.otf') format("openType");
}

html {
    overflow-y: auto;
}

.page {
    &-enter-active, &-leave-active {
        transition: .5s;
    }
    &-enter, &-leave-to {
        opacity: 0;
    }
}

.list {
    &-enter-active, &-leave-active, &-move {
        transition: 500ms cubic-bezier(0.59, 0.12, 0.34, 0.95);
        transition-property: opacity, transform;
    }
    &-enter {
        opacity: 0;
        transform: translateY(50px);
    }
    &-enter-to {
        opacity: 1;
        transform: translateY(0);
    }
    &-leave-to {
        opacity: 0;
        transform: translateY(50px);
    }
}

.trans-background {
    .loading-background {
        background: 
        linear-gradient(180deg, rgba(0, 120, 221,0.5) 0.4665725024292584%,rgba(86, 152, 227,0.5) 79.66998579152786%) !important;
    }
}

.title-text {
    font-family: 'LightNovel';
}

.button {
    font-family: 'LightNovel';
    border-bottom: solid 4px;
    &:active {
        transform: translateY(4px);
        border-bottom: none;
    }
    &.is-primary {
        border-bottom-color: #11647e !important;
    }
    &.is-info {
        border-bottom-color: #254072 !important;
    }
    &.is-warning {
        border-bottom-color: #b6983e !important;
    }
    &.is-danger {
        border-bottom-color: #943a3c !important;
    }
    &.is-success {
        border-bottom-color: #1f7261 !important;
    }
}

.disabled-line {
    text-decoration: line-through;
}

.embedded-image {
    height: 1.2rem;
}

.symbol-image {
    height: 2rem;
}

.over-message {
    white-space: nowrap;
    overflow-x: visible;
}